<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

  <Appenders>
    <!-- Console appender -->
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout charset="${spring:application.log.charset}" pattern="${spring:application.log.layout-pattern}" disableAnsi="false"/>
    </Console>

    <!-- Null appender (avoid log) -->
    <Null name="AVOID_LOGS"/>

    <!-- Application file log -->
    <RollingFile name="APPLICATION"
                 fileName="${spring:application.log.file.path}/${spring:spring.application.name}.log"
                 filePattern="${spring:application.log.file.path}/${spring:spring.application.name}${spring:application.log.file-pattern}.log">
      <PatternLayout charset="${spring:application.log.charset}"
                     pattern="${spring:application.log.layout-pattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="${spring:application.log.date-rolling}" modulate="true"/>
        <SizeBasedTriggeringPolicy size="${spring:application.log.size-rolling}"/>
      </Policies>
      <DefaultRolloverStrategy max="${spring:application.log.num-file-rolling}">
        <Delete basePath="${spring:application.log.file.path}">
          <IfFileName glob="${spring:spring.application.name}_*.log">
            <IfAny>
              <IfLastModified age="${spring:application.log.delete-if-days-exceeds}"/>
              <IfAccumulatedFileSize exceeds="${spring:application.log.delete-if-size-exceeds}"/>
            </IfAny>
          </IfFileName>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

    <!-- Ade Reports file log  -->
    <RollingFile name="ADE"
                 fileName="${spring:application.log.file.path}/ADE.log"
                 filePattern="${spring:application.log.file.path}/ADE${spring:application.log.file-pattern}.log">
      <PatternLayout charset="${spring:application.log.charset}" pattern="${spring:application.log.layout-pattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="${spring:application.log.date-rolling}" modulate="true"/>
        <SizeBasedTriggeringPolicy size="${spring:application.log.size-rolling}"/>
      </Policies>
      <DefaultRolloverStrategy max="${spring:application.log.num-file-rolling}">
        <Delete basePath="${spring:application.log.file.path}">
          <IfFileName glob="ADE_*.log">
            <IfAny>
              <IfLastModified age="${spring:application.log.delete-if-days-exceeds}"/>
              <IfAccumulatedFileSize exceeds="${spring:application.log.delete-if-size-exceeds}"/>
            </IfAny>
          </IfFileName>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

    <!-- Scheduler file log -->
    <RollingFile name="SCHEDULER"
                 fileName="${spring:application.log.file.path}/SCHEDULER.log"
                 filePattern="${spring:application.log.file.path}/SCHEDULER${spring:application.log.file-pattern}.log">
      <PatternLayout charset="${spring:application.log.charset}"
                     pattern="${spring:application.log.layout-pattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="${spring:application.log.date-rolling}" modulate="true"/>
        <SizeBasedTriggeringPolicy size="${spring:application.log.size-rolling}"/>
      </Policies>
      <DefaultRolloverStrategy max="${spring:application.log.num-file-rolling}">
        <Delete basePath="${spring:application.log.file.path}">
          <IfFileName glob="SCHEDULER_*.log">
            <IfAny>
              <IfLastModified age="${spring:application.log.delete-if-days-exceeds}"/>
              <IfAccumulatedFileSize exceeds="${spring:application.log.delete-if-size-exceeds}"/>
            </IfAny>
          </IfFileName>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

    <!-- Routing appender -->
    <Routing name="USER">
      <Routes pattern="${ctx:user}">
        <!-- User not found -->
        <Route key="${ctx:user}" ref="APPLICATION"/>
        <!-- User file appenders. Check variable user in ThreadContext -->
        <Route>
          <RollingFile name="${spring:spring.application.name}_${ctx:user}"
                       fileName="${spring:application.log.file.path}/${spring:spring.application.name}_${ctx:user}.log"
                       filePattern="${spring:application.log.file.path}/${spring:spring.application.name}_${ctx:user}${spring:application.log.file-pattern}.log">
            <PatternLayout charset="${spring:application.log.charset}"
                           pattern="${spring:application.log.layout-pattern}"/>
            <Policies>
              <TimeBasedTriggeringPolicy interval="${spring:application.log.date-rolling}" modulate="true"/>
              <SizeBasedTriggeringPolicy size="${spring:application.log.size-rolling}"/>
            </Policies>
            <DefaultRolloverStrategy max="${spring:application.log.num-file-rolling}">
              <Delete basePath="${spring:application.log.file.path}">
                <IfFileName glob="${spring:spring.application.name}_${ctx:user}_*.log">
                  <IfAny>
                    <IfLastModified age="${spring:application.log.delete-if-days-exceeds}"/>
                    <IfAccumulatedFileSize exceeds="${spring:application.log.delete-if-size-exceeds}"/>
                  </IfAny>
                </IfFileName>
              </Delete>
            </DefaultRolloverStrategy>
          </RollingFile>
        </Route>
      </Routes>
    </Routing>

    <Routing name="SCHEDULER_FILTERED_JOBS">
      <Routes pattern="${ctx:execution}">
        <!-- Execution not found -->
        <Route key="${ctx:execution}" ref="SCHEDULER"/>
        <!-- Execution file appenders. Check variable user in ThreadContext -->
        <Route>
          <!-- Scheduler execution log -->
          <RandomAccessFile name="JOB_EXECUTION" fileName="${spring:scheduler.execution.log.path}/execution_${ctx:execution}.log">
            <PatternLayout charset="${spring:application.log.charset}">
              <Pattern>${spring:scheduler.log.layout-pattern}</Pattern>
            </PatternLayout>
          </RandomAccessFile>
        </Route>
      </Routes>
    </Routing>

    <Routing name="SCHEDULER_EXECUTION_JOBS">
      <Routes pattern="${ctx:execution}">
        <!-- Execution not found -->
        <Route key="${ctx:execution}" ref="AVOID_LOGS"/>
        <!-- Execution file appenders. Check variable user in ThreadContext -->
        <Route>
          <!-- Scheduler execution log -->
          <RandomAccessFile name="JOB_EXECUTION" fileName="${spring:scheduler.execution.log.path}/execution_${ctx:execution}.log">
            <PatternLayout charset="${spring:application.log.charset}">
              <Pattern>${spring:scheduler.log.layout-pattern}</Pattern>
            </PatternLayout>
          </RandomAccessFile>
        </Route>
      </Routes>
    </Routing>
  </Appenders>

  <Loggers>
    <!-- Awe logger -->
    <Logger name="com.almis.awe" includeLocation="true" level="info"/>

    <!-- Ade logger -->
    <Logger name="com.almis.ade" includeLocation="true" level="info">
      <AppenderRef ref="ADE"/>
    </Logger>

    <!-- Scheduler logger -->
    <Logger name="com.almis.awe.scheduler" includeLocation="true" level="info" additivity="false">
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="SCHEDULER_FILTERED_JOBS"/>
    </Logger>

    <!-- ROOT logger -->
    <Root level="info">
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="USER"/>
      <AppenderRef ref="SCHEDULER_EXECUTION_JOBS"/>
    </Root>
  </Loggers>
</Configuration>