//
// Mixins
// --------------------------------------------------
.awe-theme {

  // Define panel and button default
  .panel-awe {
    .pixel-panel(@panel-header-color, @panel-text-color, @panel-border-color);
  }
  .btn-default {
    .pixel-button(@color: @secondary-color, @font-color: @secondary-text-color);
  }

  // Mixins
  .awe-main-menu(@primary-menu-color, @menu-text-color);
  .awe-grid(@secondary-color, @primary-color);
  .awe-change-password-page(@primary-color);
  .awe-breadcrumbs(light);
  .awe-buttons(@secondary-color, @primary-color, @font-color: @secondary-text-color);
  .awe-loading-bar(@loading-bar-color);
  .awe-theme-color(@primary-color);
  .awe-menu-color(@primary-menu-color);
  .table-color(@primary-color, @panel-background-color, @primary-text-color);

  .modal-content {
    background: @panel-background-color;
  }
  .panel-footer {
    background: @secondary-background-color;
  }

  // jQuery UI
  .ui-slider-theme(@primary-color);
  .ui-autocomplete-theme(@primary-color, @primary-text-color);
  .ui-menu-theme(@primary-color);
  .ui-progressbar-theme(@primary-color);
  .ui-tabs-theme(@primary-color);
  .ui-datepicker-theme(@primary-color);

  // Plugins
  .select2-theme(@primary-color, @primary-text-color);
  .switcher-theme(@primary-color);
  .pixel-file-input-theme(@primary-color);
  .bootstrap-datepicker-theme(@primary-color);
  .bootstrap-timepicker-theme(@primary-color);
  .datepaginator-theme(@primary-color);
  .editable-typeahead-theme(@primary-color);
  .data-table-theme(@primary-color);
  .dropzone-theme(@primary-color);
  .md-editor-theme(@primary-color);
}

.awe-theme-color(@theme-color) {
  .background {
    background-color: @theme-color;
  }

  .foreground {
    color: @theme-color;
  }
}

.awe-menu-color(@menu-color) {
  .background {
    background-color: @menu-color;
  }

  .foreground {
    color: @menu-color;
  }
}

.border-radius(@size) {
  border-radius: @size;
}

.no-transition {
  transition: none !important;
}

.transition (@elem, @type, @time) {
  transition: @elem @type @time;
}

.transition-multiple (@elm1, @type1, @time1, @elm2, @type2, @time2) {
  transition: @elm1 @type1 @time1, @elm2 @type2 @time2;
}

// Flex
.display-flex {
  display: flex;
}

.flex(@attrs) {
  flex: @attrs;
}

// Flex direction
.flex-direction(@attrs) {
  flex-direction: @attrs;
}

// Flex order
.flex-order(@attrs) {
  order: @attrs;
}

// Flex align self
.flex-align-self(@attrs) {
  align-self: @attrs;
}

// Flex justify
.flex-justify(@attrs) {
  justify-content: @attrs;
}

// Flex basis
.flex-basis(@attrs) {
  flex-basis: @attrs;
}

// Forms themes
//
.awe-forms-theme(@color) {
  input.cbox:after {
    color: @color;
  }
}

.navigation-colors(@menu-color, @menu-text-color, @percentage) {
  @background-color: color-mix(in srgb, @menu-color, @panel-background-color @percentage);
  @text-color: color-mix(in srgb, @menu-text-color, @primary-text-color @percentage);
  li {
    background-color: @background-color;
    & > a {
      //background-color: @background-color;
      color: @text-color !important;
      &:hover {
        color: color-mix(in srgb, @text-color, @secondary-menu-color 80%) !important;
        background-color: color-mix(in srgb, @secondary-menu-color, transparent 90%);
      }
    }
    &.active > a {
      background-color: rgba(0, 0, 0, 0.1);
      color: color-mix(in srgb, @text-color, @secondary-menu-color 80%) !important;
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
  li.divider {
    border-top: 1px solid !important;
    border-color: @text-color !important;
    margin-right: 15px;
    margin-left: 15px;
  }
}

// Light themes navigation colors
.navigation-submenus(@menu-color, @menu-text-color) {
  .mm-dropdown > ul {
    background-color: @menu-color;
    .mm-dropdown > ul {
      background-color: @menu-color;
      .navigation-colors(@menu-color, @menu-text-color, 15%);
      .mm-dropdown > ul {
        background-color: @menu-color;
        .navigation-colors(@menu-color, @menu-text-color, 30%);
        .mm-dropdown > ul {
          background-color: @menu-color;
          .navigation-colors(@menu-color, @menu-text-color, 45%);
        }
      }
    }
  }
}

.navigation-divider(@menu-color, @menu-text-color) {
  ul.navigation {
    & > li.divider {
      border-color: @menu-text-color;
    }
  }
}

/*.navigation-colors(@menu-color, @menu-text-color, @lighten) {
  @menu-color =
  li {
    a {
      color: @menu-text-color !important;
      &:hover {
        color: @menu-text-color !important;
        background-color: @menu-color !important;
        //filter: brightness(85%);
      }
    }
    &.active > a {
      background-color: @menu-color !important;
      color: @menu-text-color !important;
      //filter: brightness(70%);
      &:hover {
        background-color: @menu-color !important;
        color: @menu-text-color !important;
        //filter: brightness(85%);
      }
    }
  }
  li.divider {
    border-top: 1px solid !important;
    border-color: @menu-color !important;
    margin-right: 15px;
    margin-left: 15px;
  }
}*/

// Main menu theme
.awe-main-menu(@menu-color, @menu-text-color, @secondary-menu-color: @secondary-menu-color, @type: dark) {
  #main-menu {
    ul.navigation {
      background-color: @menu-color;
      > li > a:hover:after {
        background-color: @secondary-menu-color;
      }
    }
    .navigation-submenus(@menu-color, @menu-text-color);
    &.horizontal .awe-menu > ul > li > ul {
      .box-shadow(2px 2px 5px rgba(100, 100, 100, 0.5));
    }
    .navigation-divider(@menu-color, @menu-text-color);
    .navigation-colors(@menu-color, @menu-text-color, 0%);
  }
}

// Awe grid theme
.awe-grid(@theme-color, @primary-color) {
  .grid, .treegrid {
    .multioperation-icon, .ui-grid-rownumber {
      background-color: color-mix(in srgb, @theme-color, @panel-background-color 50%);
    }
    .ui-grid-row-selected .ui-grid-cell-contents,
    .save-button {
      background-color: color-mix(in srgb, @theme-color, @panel-background-color 50%);
    }
    .ui-grid-row-hover .ui-grid-cell-contents{
      background-color: @theme-color;
    }
  }
}

// Change password page
.awe-change-password-page(@primary-color) {
  &.page-change_password .change_password-header {
    background: @primary-color;
  }
}

// Change loading bar color
.awe-loading-bar(@color) {
  #loading-bar {
    .bar {
      background: @color;
    }
    .peg {
      .box-shadow(@color 1px 0 6px 1px);
    }
  }

  #loading-bar-spinner .spinner-icon {
    border-top-color: @color;
    border-left-color: @color;
  }
}

.awe-breadcrumbs(@type) when (@type=dark) {
  .breadcrumb.breadcrumb-page {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    .box-shadow(0 1px 2px rgba(255, 255, 255, 0.2));
    .breadcrumb-label {
      //color: rgba(0, 0, 0, 0.5);
      color: color-mix(in srgb, @text-color, @primary-background-color 50%);
    }

    > li {
      //color: rgba(0, 0, 0, 0.5);
      color: color-mix(in srgb, @text-color, @primary-background-color 50%);
      + li:before {
        //color: rgba(0, 0, 0, 0.5);
        color: color-mix(in srgb, @text-color, @primary-background-color 50%);
      }
    }
    > li.active {
      //color: rgba(0, 0, 0, 0.8);
      color: color-mix(in srgb, @text-color, @primary-background-color 20%);
    }
    > li:hover {
      //color: rgba(0, 0, 0, 0.8);
      color: color-mix(in srgb, @text-color, @primary-background-color 20%);
    }
    > li.active:hover {
      //color: rgba(0, 0, 0, 1);
      color: @text-color;
    }
  }
}

.awe-breadcrumbs(@type) when (@type=light) {
  .breadcrumb.breadcrumb-page {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .box-shadow(0 1px 2px rgba(255, 255, 255, 0.2));
    .breadcrumb-label {
      //color: rgba(0, 0, 0, 0.5);
      color: color-mix(in srgb, @text-color, @primary-background-color 50%);
    }

    > li {
      //color: rgba(0, 0, 0, 0.5);
      color: color-mix(in srgb, @text-color, @primary-background-color 50%);
      + li:before {
        //color: rgba(0, 0, 0, 0.5);
        color: color-mix(in srgb, @text-color, @primary-background-color 50%);
      }
    }
    > li.active {
      //color: rgba(0, 0, 0, 0.8);
      color: color-mix(in srgb, @text-color, @primary-background-color 20%);
    }
    > li:hover {
      //color: rgba(0, 0, 0, 0.8);
      color: color-mix(in srgb, @text-color, @primary-background-color 20%);
    }
    > li.active:hover {
      //color: rgba(0, 0, 0, 1);
      color: @text-color;
    }
  }
}

// Buttons theme
//
.awe-buttons(@default, @primary, @font-color: var(--secondary-text-color), @primary-font-color: var(--primary-text-color)) {
  .btn-awe {
    .pixel-button(@color: @default, @gradient: 5%, @hover: 2%, @border: 4%, @font-color: @font-color);
  }
  .btn-awe.btn-primary {
    .pixel-button(@color: @primary, @font-color: @primary-font-color);
  }
  .btn-awe.btn-danger {
    .pixel-button(@danger-color);
  }
  .btn-awe.btn-warning {
    .pixel-button(@warning-color);
  }
  .btn-awe.btn-success {
    .pixel-button(@success-color);
  }
  .btn-awe.btn-dark {
    .pixel-button(@dark-color, @font-color: @primary-text-color);
  }
}

.awe-navbar(@navbar-start-color, @navbar-end-color, @navbar-text-color, @navbar-text-shadow, @menu-color, @menu-active-color) {
  .gt-ie9 & #main-navbar,
  .gt-ie9 & #main-navbar .navbar-header {
    #gradient > .vertical(@navbar-start-color, @navbar-end-color);
  }

  // Use image for bg on IE 8-9
  .ie8 & #main-navbar,
  .ie9 & #main-navbar,
  .ie8 & #main-navbar .navbar-header,
  .ie9 & #main-navbar .navbar-header {
    background: @navbar-start-color;
  }

  // Main navbar
  //

  #main-navbar {
    // Header
    //

    .dropdown > a,
    .dropdown-menu > li > a,
    .navbar-nav.nav > li > a,
    .navbar-header a {
      color: @navbar-text-color;
    }

    .navbar-toggle,
    #main-menu-toggle,
    #main-menu-toggle .fa:before,
    a {
      text-shadow: @navbar-text-shadow;
    }

    // Navbar buttons
    //

    .navbar-toggle,
    #main-menu-toggle {
      color: @navbar-text-color;
    }

    #main-menu-toggle .fa:before {
      color: @navbar-text-color;
    }

    // Navbar collapse
    //

    .main-navbar-collapse {
      border-top-color: @navbar-end-color;
      background: @navbar-end-color;
    }

    // Navbar Items
    //

    .navbar-nav li + .navbar-nav li,
    .navbar-nav.nav + .navbar-nav.nav,
    .navbar-nav.nav + .navbar-nav .right {
      border-top: 1px solid @navbar-end-color;
    }

    .dropdown.open > a {
      border-top: 1px solid @navbar-end-color;
      border-bottom: 1px solid @navbar-end-color;
      margin-top: -1px;
      background: @navbar-end-color;
    }

    // Navbar forms
    //

    form.navbar-form {
      .box-shadow(none);

      .form-control {
        background: #fff;
        border-color: #fff;
        border-radius: @border-radius;
      }
    }
  }

  // Desktops
  //

  @media (min-width: @screen-tablet) {
    #main-navbar {

      // Navbar collapse
      //

      .main-navbar-collapse {
        background: none;
      }

      // Navbar Items
      //

      // Reset borders
      .navbar-nav li + .navbar-nav li,
      .navbar-nav.nav + .navbar-nav.nav,
      .navbar-nav.nav + .navbar-nav .right {
        border: none;
      }

      .navbar-nav.nav > li > a {
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;

        &:hover {
          background: rgba(0, 0, 0, .08);
          border-color: @navbar-end-color;
          //filter: brightness(90%);
        }
      }

      // Dropdowns
      //

      .dropdown.open > a {
        border-top: none;
        border-bottom: none;
        margin-top: 0;
        background: rgba(0, 0, 0, .08);
        border-color: @navbar-end-color;
        //filter: brightness(90%);
      }

      .dropdown-menu {
        background: @menu-color;
        border-color: @menu-color;
        margin-top: 2px;
        padding: 5px 0;
        border-radius: @border-radius-base;

        a {
          text-shadow: none;
          margin: 0 -2px;
        }

        a:hover {
          background: @menu-active-color;
        }

        .divider {
          background-color: @menu-color;
          margin-left: -2px;
          margin-right: -2px;
          //filter: brightness(104%);
        }
      }

      // Notifications widget
      //

      .widget-notifications {
        .notification,
        .notifications-link {
          border-color: transparent;
          color: @menu-active-color;
          margin: 0 -2px;
          //filter: brightness(104%);
        }

        .notifications-link:hover {
          background-color: @menu-color;
          color: @navbar-links-border;
        }

        .notification-description {
          color: @menu-color;
        }

        .notification-ago {
          color: @menu-color;
        }
      }

      // Alt messages widget
      //

      .widget-messages-alt {
        a:hover {
          color: #fff !important;
        }

        .message,
        .messages-link {
          border-color: @menu-color;
          //filter: brightness(104%);
          .border-bottom-radius(3px);

          a:hover {
            background: none;
          }
        }

        .message-subject {
          color: @menu-active-color;
        }

        .message-description {
          color: @menu-color;
          //filter: brightness(125%);

          a {
            color: @menu-color;
            //filter: brightness(135%);
          }
        }
      }
    }
  }

  #main-navbar #main-menu-toggle,
  &.right-to-left.main-menu-right #main-navbar #main-menu-toggle {
    border-left: none;
    border-right: 1px solid @navbar-end-color;
    filter: brightness(92%);
  }

  &.right-to-left #main-navbar #main-menu-toggle,
  &.main-menu-right #main-navbar #main-menu-toggle {
    border-left: 1px solid @navbar-end-color;
    border-right: none;
    filter: brightness(92%);
  }
}