.window-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
}

.breadcrumb-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
