.column-editor {
  width: 100%;
  text-align: left;
  position: relative;
  .p-inputnumber-input {
    width: 100%;
  }
}

.validation-tooltip.p-tooltip.p-tooltip-bottom {
  .p-tooltip-arrow {
    border-bottom-color: var(--red-500);
  }
  .p-tooltip-text {
    background-color: var(--red-500);
  }
}

.column-editor.p-invalid {
  &::before {
    content: "⚠";
    font-size: 1.5em;
    line-height: 1.5em;
    position: absolute;
    padding-right: 4px;
    right: 0;
  }
  &.p-dropdown::before {
    right: 1.5em;
  }
  &.p-autocomplete::before {
    right: 1.5em;
    z-index: 1;
  }


  &:focus-within {
    &::before {
      content: "" !important;
    }
  }
}
